.anchor {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}
p {
    color: white;
}
.myHeader {
    background: radial-gradient(rgb(185, 179, 179), #a1a033);
}

.myContainer {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.myRow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    /*---------*/
}
.myHeader .row {
    margin-top: 70px;
}
.myCol-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.myCol-2 img {
    max-width: 100%;
    padding: 50px 0;
}
.myCol-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.muButton {
    display: inline-block;
    background: orange;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.muButton:hover {
    background: gray;
}

.brands {
    margin: 100px auto;
}
.myCol-5 {
    width: 160px;
}
.myCol-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.myCol-5 img:hover {
    filter: grayscale(0);
}
/*---------footer-------*/

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p {
    color: #8a8a8a;
}
.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}
.footer-col1,
.footer-col2,
.footer-col3,
.footer-col4 {
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col1 {
    flex-basis: 30%;
}
.footer-col2 {
    flex: 1;
    text-align: center;
}
.footer-col2 img {
    width: 180px;
    margin-bottom: 20px;
}
.footer-col3,
.footer-col4 {
    flex-basis: 12%;
    text-align: center;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer li {
    display: block;
}
.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright {
    text-align: center;
}

/* Register page */
.accout-page {
    padding: 50px 0;
    background: radial-gradient(rgb(185, 179, 179), #a1a033);
}

.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-muButton {
    display: inline-block;
}

#indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form input:focus {
    outline: none;
}
form .muButton {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .muButton:focus {
    outline: none;
}
form a {
    font-size: 12px;
}
.LoginForm {
    left: 0;
    visibility: hidden;
}
#RegForm {
    left: 0;
    visibility: hidden;
}

#to {
    padding: 0 42px 0 42px;
}
.muButton {
    margin: 0;
}
.Report-Type {
    width: 12%;
    /* float: right; */
}
#Report-label {
    padding-left: 25px;
}
.datepicker {
    align-content: center;
    padding-left: 27em;
}
.ReportView {
    width: 50%;
    padding: 10px 50px 0 50px;
}
